body {
    width: 600px;
    margin: 100px auto 0;
}
* {margin: 0; padding: 0; }

#slider-nav {display: none}

.slider {
    width: inherit;
    overflow: scroll;
}


.slider ul {
    list-style: none;
    display: flex;
    width: 100%;
}


.slider li {
    flex: 1 0 100%;
}

.slider img {
    width: 100%;
}
